<div class="visible-lg">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- GoylloResponsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6217059145544649"
     data-ad-slot="4127508010"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<div class="visible-sm">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- GoylloResponsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6217059145544649"
     data-ad-slot="4127508010"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<div class="visible-xs">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Mobile -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-6217059145544649"
     data-ad-slot="4987467615"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>