	  <div class="breadcrumbs">
<span itemscope='' itemtype='http://data-vocabulary.org/Breadcrumb'>
 <a href="/" itemprop="url"><span itemprop='title'>Goyllo</span></a></span>
 {% assign crumbs = page.url | split: '/' %}
 {% assign crumbs_total = crumbs | size | minus: 1 %}
   {% for crumb in crumbs offset: 1 %}
    {% if forloop.index == crumbs_total %}
    {% else %}
	<span itemscope='' itemtype='http://data-vocabulary.org/Breadcrumb'>
         &#187; <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}" itemprop="url"><span itemprop='title'>{{ crumb | replace:'-',' ' }}</span></a></span>
    {% endif %}
  {% endfor %}
</div>