<div class="social-share">
<span>
<a class="facebooksharebutton"  href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Thanks for sharing on Facebook">share</a>
<a class="twittersharebutton" href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Thanks for sharing on Twitter">tweet</a>
<a class="googlesharebutton"  href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Thanks for sharing on Google Plus">share</a>
</span>
</div>
