/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 1;
	font-style:italic;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.square {
	margin-bottom: 20px;
    background: #fff;
    border-top: 2px solid $grey-color-light;
    border-bottom: 2px solid $grey-color-light;
	border-left: 2px solid $grey-color-light;
	border-right: 2px solid $grey-color-light;
}
.square h2 {
    color: #fff;
	padding-left:5px;
	background-color:#0099FF;
 	text-align:center;
}

.square p {
 padding-left:5px;
 text-align:center;
}
.square a{
color: #fff;
}

.breadcrumbs{
 margin-bottom: -20px;
 margin-top: -10px;
 background:#fff;
 padding:7px 10px; 
 line-height:1.4em; 
 border:1px solid #ddd;
 font:14px tahoma
}
#disqus_thread{
text-align:center;
 }
 
 .disqusbutton{
 margin-left:10px;
 margin-bottom:5px;
 border:1px solid #0077c7; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #26ae90; background-image: -webkit-gradient(linear, left top, left bottom, from(#26ae90), to(#26ae90));
 background-image: -webkit-linear-gradient(top, #26ae90, #26ae90);
 background-image: -moz-linear-gradient(top, #26ae90, #26ae90);
 background-image: -ms-linear-gradient(top, #26ae90, #26ae90);
 background-image: -o-linear-gradient(top, #26ae90, #26ae90);
 background-image: linear-gradient(to bottom, #26ae90, #26ae90);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26ae90, endColorstr=#26ae90);
 }
 
  .disqusbutton:hover{
  text-decoration: underline;
  color: #fff;
 border:1px solid #005c99;
 background-color: #26ae90; background-image: -webkit-gradient(linear, left top, left bottom, from(#26ae90), to(#26ae90));
 background-image: -webkit-linear-gradient(top, #26ae90, #26ae90);
 background-image: -moz-linear-gradient(top, #26ae90, #26ae90);
 background-image: -ms-linear-gradient(top, #26ae90, #26ae90);
 background-image: -o-linear-gradient(top, #26ae90, #26ae90);
 background-image: linear-gradient(to bottom, #26ae90, #26ae90);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26ae90, endColorstr=#26ae90);

  }
 
  
 .twittersharebutton{
 margin-left:10px;
 margin-bottom:5px;
 border:1px solid #0077c7; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #61CEF8; background-image: -webkit-gradient(linear, left top, left bottom, from(#61CEF8), to(#61CEF8));
 background-image: -webkit-linear-gradient(top, #61CEF8, #61CEF8);
 background-image: -moz-linear-gradient(top, #61CEF8, #61CEF8);
 background-image: -ms-linear-gradient(top, #61CEF8, #61CEF8);
 background-image: -o-linear-gradient(top, #61CEF8, #61CEF8);
 background-image: linear-gradient(to bottom, #61CEF8, #61CEF8);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#61CEF8, endColorstr=#61CEF8);
 }
 
 .twittersharebutton:hover{
  text-decoration: underline;
  color: #fff;
 border:1px solid #005c99;
 background-color: #61CEF8; background-image: -webkit-gradient(linear, left top, left bottom, from(#61CEF8), to(#61CCF8));
 background-image: -webkit-linear-gradient(top, #61CEF8, #61CCF8);
 background-image: -moz-linear-gradient(top, #61CEF8, #61CCF8);
 background-image: -ms-linear-gradient(top, #61CEF8, #61CCF8);
 background-image: -o-linear-gradient(top, #61CEF8, #61CCF8);
 background-image: linear-gradient(to bottom, #61CEF8, #61CCF8);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#61CEF8, endColorstr=#61CCF8);

  }

 .facebooksharebutton{
 margin-left:10px;
 margin-bottom:5px;
 border:1px solid #0077c7; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #3B589D; background-image: -webkit-gradient(linear, left top, left bottom, from(#3B589D), to(#3B589D));
 background-image: -webkit-linear-gradient(top, #3B589D, #3B589D);
 background-image: -moz-linear-gradient(top, #3B589D, #3B589D);
 background-image: -ms-linear-gradient(top, #3B589D, #3B589D);
 background-image: -o-linear-gradient(top, #3B589D, #3B589D);
 background-image: linear-gradient(to bottom, #3B589D, #3B589D);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3B589D, endColorstr=#3B589D);
 }
 
 .facebooksharebutton:hover{
  text-decoration: underline;
  color: #fff;
 border:1px solid #005c99;
 background-color: #3B589D; background-image: -webkit-gradient(linear, left top, left bottom, from(#3B589D), to(#3B588D));
 background-image: -webkit-linear-gradient(top, #3B589D, #3B588D);
 background-image: -moz-linear-gradient(top, #3B589D, #3B588D);
 background-image: -ms-linear-gradient(top, #3B589D, #3B588D);
 background-image: -o-linear-gradient(top, #3B589D, #3B588D);
 background-image: linear-gradient(to bottom, #3B589D, #3B588D);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3B589D, endColorstr=#3B588D);

 }

 .googlesharebutton{
 margin-left:10px;
 margin-bottom:5px;
 border:1px solid #0077c7; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #DD4B39; background-image: -webkit-gradient(linear, left top, left bottom, from(#DD4B39), to(#DD4B39));
 background-image: -webkit-linear-gradient(top, #DD4B39, #DD4B39);
 background-image: -moz-linear-gradient(top, #DD4B39, #DD4B39);
 background-image: -ms-linear-gradient(top, #DD4B39, #DD4B39);
 background-image: -o-linear-gradient(top, #DD4B39, #DD4B39);
 background-image: linear-gradient(to bottom, #DD4B39, #DD4B39);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#DD4B39, endColorstr=#DD4B39);
 }
 
 .googlesharebutton:hover{
 text-decoration: underline;
 color: #fff;
 border:1px solid #005c99;
 background-color: #DD4B39; background-image: -webkit-gradient(linear, left top, left bottom, from(#DD4B39), to(#DD4B39));
 background-image: -webkit-linear-gradient(top, #DD4B39, #DD4B39);
 background-image: -moz-linear-gradient(top, #DD4B39, #DD4B39);
 background-image: -ms-linear-gradient(top, #DD4B39, #DD4B39);
 background-image: -o-linear-gradient(top, #DD4B39, #DD4B39);
 background-image: linear-gradient(to bottom, #DD4B39, #DD4B39);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#DD4B39, endColorstr=#DD4B39);

}

.PostDescription{
font-size: 15px;
}

.RelatedPost{
text-align: center;
text-decoration: underline;
}

.social-share{
  position: fixed;
  left: 0;
  top: 50%;
  width: 8em;
  margin-top: -2.5em;
}
