---
layout: default
---

{% assign minutes = content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<div class="post-header mb2">
  <h1>{{ page.title }}</h1>{% include breadcrumb.html %}
  {% if page.update_date %}
    <span class="post-meta">Updated: {{ page.update_date | date: "%b %-d, %Y" }}</span><br>
  {% endif %}  
  <span class="post-meta small">
  {% if page.minutes %}
    {{ page.minutes }} minute read
  {% else %}
    {{ minutes }} minute read
  {% endif %}
  </span>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- GoylloResponsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6217059145544649"
     data-ad-slot="4127508010"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<article class="post-content">
  {{ content }}
</article>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- GoylloResponsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6217059145544649"
     data-ad-slot="4127508010"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

 {% include comments.html %}

 <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- GoylloResponsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6217059145544649"
     data-ad-slot="4127508010"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
 
{% if site.show_sharing_icons %}
  {% include share_buttons.html %}
{% endif %}

{% if site.show_post_footers %}
  {% include post_footer.html %}
{% endif %}
